{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete {{ shoe.name }}?</h1>
  <img src="https://th.bing.com/th/id/OIP.Ly3z5l8JQWRR1aYiWr37RwHaHa?w=189&h=191&c=7&r=0&o=7&cb=12&dpr=1.3&pid=1.7&rm=3" alt="Unicorn Air Force 1" />
</div>

<h2>Are you sure you want to delete {{ shoe.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'shoe_detail' shoe.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
